.div-item{
    width: 400px;
    height: 400px;
}
.div-item img{
    width:60%;
    height: 200px;
    border-radius: 20px;
}
.all-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    justify-content: center;
}
.food-all{
    margin: 0 10%;
}
.item p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}


.items{
    display: flex;
    gap: 60px;
   margin-left: 100px;
}
.all-btn button{
   width: 100px;
   height: 40px;
   border-radius: 20px;
   background-color: orange;
   cursor: pointer;
   border: none;
   color: white;
   font-weight: 600;
}
.all-btn{
    margin-left: 150px;
  
    align-items: center;
}
.all-btn button:hover{
    transform: scale(1.1);
    transition-duration: 700ms;
}
.show-more-div button:hover{
    transform: scale(1.1);
    transition-duration: 700ms;
}
.show-more-div button{
    height: 50px;
    width: 120px;
    background-color: rgb(241, 162, 26);
}

/* responsive code */
@media  (max-width: 480px){

    .all-div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
       
        
    }
    .food-all{
        width: max-content;
        margin-left: 90px;
        margin-top: 20px;
    }
}
    


